<!--
this file is part of the autofirma-docker project

Copyright (C) 2025  Gonzalo Ruiz <rgon (at) outlook (dot) com>
Copyright (C) 2025  Joaquín Cuéllar Padilla <joa (dot) cuellar (at) riseup (dot) net>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="xterm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><command>/usr/bin/xterm</command></action></item>
<item label="FireFox" icon="/usr/share/icons/hicolor/48x48/apps/firefox.png"><action name="Execute"><command>/usr/bin/firefox</command></action></item>
<item label="Autofirma" icon="/usr/share/icons/hicolor/48x48/apps/openjdk-11.png"><action name="Execute"><command>/usr/bin/autofirma</command></action></item>
</menu>
</openbox_menu>